*{
    margin:0 auto;
}
html{
       background-color: #FBF9EF;
}

.nombre{
    font-size: 80px;
    font-family: 'Playfair Display';
    text-align: center;
    margin:70px;
}
#puntito{
    letter-spacing: 80px;
}
#puntitoB, #puntito{
    display: inline;
    font-size: 50px;
}
nav a:before, nav a:after{
    position: absolute; /*copiado*/
    color:silver;
    opacity: 0;
    font-size: 20px;
    top: 7px;
    transition: 0.4s;
}
nav a:before{ /*copiado*/
    content: '[';
    left: -5px;
    transform: translateX(10px);
    font-size: 25px;
}
nav a:after{ /*copiado*/
    content: ']';
    right: -5px;
    transform: translateX(-10px);
    font-size: 25px;
}
nav a:hover:before, nav a:hover:after{ /*copiado*/
    opacity: 1;
    transform: translateX(0px);
}
ul{
	width:90%;
	height:50px;
	margin-top:25px;
	padding:0px;
	display:flex;
     justify-content: center;
	align-items: center;
    list-style-type:none;
}
li a{ 	
	padding: 10px 10px;/*copiado*/
    position: relative;/*copiado*/
	text-decoration: none;
	font-family: 'Poiret One', cursive;
    font-size: 20px;
    font-weight: bold;
	color: #61bfad;
}
i{
    letter-spacing: 15px;
}


#portfolio{
    width: 80%;
    display: flex;
    flex-wrap:wrap;
    margin-top: 50px;
}
section a{
    width:33.3%; /*el link ocupa el 30% del container "portfolio"*/
}
article{
    width: 100%;/*la imagen ocupa el 100% del link, que a su vez es el 30% del contenedor*/
    height: 100%;
    position: relative;
    background:silver; /*http://jsfiddle.net/4Dfpm/*/
}
img{
    width: 100%; /*la imagen ocupa el 100% de width y height del article*/
    height: 100%;
}
article:hover{
    transform:scale(1.01); /*se tiene que escalar todo el cuadrado y no solo la imagen*/
    transition:1s; 
}
article:hover img{
    opacity:0.2;
    transition:1s; 
}

.overlay {
    position: absolute;
    top:0; bottom: 0; left:0; right:0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .13s ease;
}

 article:hover .overlay{
    opacity: 1;
}
.texto {
    color: white;
    font:  50px 'Old Standard TT',bold, sans-serif;
    position: absolute;
    line-height: 50px;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 0;
    transition: 0.5s ease-in-out;
}
 article:hover .texto {
    opacity: 1;
}